@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,700);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  font-family: "Rubik";
  font-size: 16px;
}

input:focus {
  outline: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.header__body .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__body .header__logo {
  margin-right: 121px;
}

.header__body .menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body .menu-header__list .menu-header__item:not(:last-child) {
  margin-right: 40px;
}

.header__body .menu-header__link:hover {
  color: #212353;
}

.header__body .header__burger-icon {
  display: none;
  position: relative;
  width: 40px;
  min-height: 30px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__body .header__burger-icon span,
.header__body .header__burger-icon::before,
.header__body .header__burger-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-transform 0.3s;
  transition: background-color 0.3s ease 0s, -webkit-transform 0.3s;
  -o-transition: background-color 0.3s ease 0s, transform 0.3s;
  transition: background-color 0.3s ease 0s, transform 0.3s;
  transition: background-color 0.3s ease 0s, transform 0.3s, -webkit-transform 0.3s;
  background-color: #212353;
}

.header__body .header__burger-icon::before,
.header__body .header__burger-icon::after {
  content: "";
}

.header__body .header__burger-icon::before {
  top: 0;
}

.header__body .header__burger-icon::after {
  bottom: 0;
}

.header__body .header__burger-icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header__body .header__burger-icon:hover span,
.header__body .header__burger-icon:hover::before,
.header__body .header__burger-icon:hover::after {
  background-color: #F063B8;
}

.header__body .header__burger-icon_enabled {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__body .header__burger-icon_enabled::before,
.header__body .header__burger-icon_enabled::after {
  width: 45%;
}

.header__body .header__burger-icon_enabled::before {
  -webkit-transform: translate(22.6px, 9.5px) rotate(30deg);
      -ms-transform: translate(22.6px, 9.5px) rotate(30deg);
          transform: translate(22.6px, 9.5px) rotate(30deg);
}

.header__body .header__burger-icon_enabled::after {
  -webkit-transform: translate(22.6px, -9.5px) rotate(-30deg);
      -ms-transform: translate(22.6px, -9.5px) rotate(-30deg);
          transform: translate(22.6px, -9.5px) rotate(-30deg);
}

.logo__image {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.logo__image:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.header__logo {
  z-index: 100;
}

.logo__image {
  width: 49px;
  height: 35px;
}

.burger {
  -webkit-transform: translate(0, -99.9%);
      -ms-transform: translate(0, -99.9%);
          transform: translate(0, -99.9%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  min-height: 459px;
  overflow: visible;
  background-color: white;
  z-index: 30;
}

.burger__menu {
  position: absolute;
  top: 140px;
  left: 20px;
  z-index: 2;
  color: #4B5D68;
}

.burger__button {
  margin-top: 30px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.burger__button .button__text {
  font-size: 19.2px;
}

.burger__item:not(:last-child) {
  padding-bottom: 30px;
}

.burger__item {
  font-size: 24px;
}

.burger__link:hover {
  color: #212353;
}

.burger_visible {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.button {
  font-family: Avenir;
  font-weight: 800;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  max-width: 170px;
}

.button__text {
  -ms-flex-item-align: center;
      align-self: center;
}

.button_purple {
  background: #9C69E2;
}

.button_purple:hover {
  background: #8547db;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_purple:active {
  background: #5b21ab;
}

.button_pink {
  background: #F063B8;
}

.button_pink:hover {
  background: #ec3ea7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_pink:active {
  background: #c1137c;
}

.button_arrow {
  color: #212353;
  max-width: 210px;
  width: 210px;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button_arrow:hover {
  background-color: #F063B8;
}

.button_arrow:hover .icon-arrow_right {
  color: #212353;
}

.button_arrow .button__text::after {
  content: "";
}

.button_arrow .icon-arrow_right {
  position: relative;
  right: -5px;
  top: 2px;
  color: #9C69E2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.title_white {
  color: #fff;
}

.text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.introduction__body {
  margin-top: 130px;
  position: relative;
}

.introduction__title {
  max-width: 645px;
  margin-bottom: 50px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}

.introduction__text {
  max-width: 380px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.introduction__button {
  margin-bottom: 100px;
}

.introduction__image {
  position: absolute;
  top: 20%;
  right: -12%;
  width: 885px;
  height: 468px;
  z-index: -1;
}

.introduction__image img {
  width: 885px;
  height: 468px;
}

.about-us {
  margin-top: 200px;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.about-us__image {
  margin-right: 60px;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about-us__article {
  max-width: 475px;
  -ms-flex-item-align: center;
      align-self: center;
}

.about-us__title {
  margin-bottom: 40px;
}

.features {
  margin-top: 150px;
}

.features__article {
  text-align: center;
  margin-bottom: 100px;
}

.features__title {
  margin-bottom: 50px;
}

.features__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 584px;
}

.features__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;
  row-gap: 50px;
  margin-left: 90px;
}

.features .card {
  width: 442px;
  height: 358px;
  background-color: rgba(104, 201, 186, 0.1);
  border-radius: 50px;
}

.features .card_search {
  background: url("../img/bg/bg_green.png") no-repeat;
}

.features .card_access {
  background: url("../img/bg/bg_purple.png") no-repeat;
}

.features .card_print {
  background: url("../img/bg/bg_pink.png") no-repeat;
}

.features .card_security {
  background: url("../img/bg/bg_green.png") no-repeat;
}

.features .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  max-width: 230px;
  height: 100%;
  margin-left: auto;
  padding-top: 50px;
  margin-right: 50px;
}

.features .card__body .card__image {
  position: absolute;
  top: 25%;
  left: -249px;
}

.features .card__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}

.features .card__text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

.features .card__link {
  display: block;
}

.features .card .link__text {
  display: inline;
  position: relative;
  color: #212353;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.features .card .link__text span {
  color: #9C69E2;
  position: absolute;
  right: -30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.features .card .link:hover .link__text,
.features .card .link:hover span {
  color: #F063B8;
}

.testimonials {
  margin-top: 150px;
}

.testimonials__body {
  padding-top: 110px;
  padding-bottom: 60px;
  padding-left: 60px;
  background-color: #9C69E2;
  border-radius: 50px;
}

.testimonials__title {
  margin-bottom: 88px;
}

.testimonials__control {
  margin-top: 60px;
}

.testimonials .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials .control__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 76px;
}

.testimonials .control__arrow-left,
.testimonials .control__arrow-right {
  color: #fff;
}

.testimonials .control__arrow-left:hover,
.testimonials .control__arrow-right:hover {
  cursor: pointer;
  color: #F063B8;
}

.testimonials .control .swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.testimonials .control .swiper-button-disabled:hover {
  color: #fff;
}

.testimonials .control .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F063B8;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.testimonials .control .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.testimonials .control__arrows div:first-child {
  margin-right: 20px;
}

.swiper-slide-next.slide .slide__body > *,
.swiper-slide-prev.slide .slide__body > * {
  opacity: 0.3;
}

.swiper-slide-next.slide .slide__body,
.swiper-slide-prev.slide .slide__body {
  -webkit-box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 70px;
  background-color: #fff;
  border: 1px solid #9C69E2;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.slide__image {
  padding-right: 15px;
}

.slide__image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.slide__name {
  margin-top: 20px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  color: #212353;
}

.slide__site {
  margin-bottom: 19px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #9C69E2;
}

.slide__comment {
  max-width: 385px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  text-align: left;
}

.try__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid rgba(156, 105, 226, 0.25);
  padding-top: 100px;
  margin-top: 150px;
}

.try__body .try__title {
  margin-bottom: 20px;
  font-weight: bold;
}

.try__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.try__buttons .try__button {
  min-width: 170px;
}

.try__buttons .try__button:first-child {
  margin-right: 30px;
}

.footer {
  font-family: Avenir;
  font-size: 16px;
  font-weight: normal;
}

.footer__body {
  margin-top: 153px;
}

.footer__body .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
}

.footer__body .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}

.footer__body .footer__bottom .footer__copyright {
  height: 100%;
  line-height: 180%;
}

.footer__body .footer__bottom .message-icon__link img {
  border-radius: 50%;
}

.footer__body .footer__bottom .message-icon__link img:hover {
  outline: 2px solid #9C69E2;
}

.footer__body .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #212353;
  line-height: 28.8px;
}

.footer__body .footer__links .links__column .column__title {
  padding: 10px 0;
  margin-bottom: 20px;
  font-weight: 800;
}

.footer__body .footer__links .links__column .column__list li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__body .footer__links .links__column a:hover {
  color: #F063B8;
}

.footer__body .footer__links .column__media > *:not(:last-child) {
  margin-right: 10px;
}

.footer__body .footer__links .column__media .media__link img {
  border-radius: 50%;
}

.footer__body .footer__links .column__media .media__link img:hover {
  outline: 2px solid #F063B8;
}

.footer__body .footer__links .column_info .column__title {
  padding: 0;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer__body .footer__links .column_info .footer__contacts {
  color: rgba(33, 35, 83, 0.8);
}

.footer__body .footer__links .column_info > *:not(:first-child):not(:last-child) {
  margin-bottom: 10px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo > *:first-child {
  margin-right: 20px;
}

.button {
  font-family: Avenir;
  font-weight: 800;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  max-width: 170px;
}

.button__text {
  -ms-flex-item-align: center;
      align-self: center;
}

.button_purple {
  background: #9C69E2;
}

.button_purple:hover {
  background: #8547db;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_purple:active {
  background: #5b21ab;
}

.button_pink {
  background: #F063B8;
}

.button_pink:hover {
  background: #ec3ea7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_pink:active {
  background: #c1137c;
}

.button_arrow {
  color: #212353;
  max-width: 210px;
  width: 210px;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button_arrow:hover {
  background-color: #F063B8;
}

.button_arrow:hover .icon-arrow_right {
  color: #212353;
}

.button_arrow .button__text::after {
  content: "";
}

.button_arrow .icon-arrow_right {
  position: relative;
  right: -5px;
  top: 2px;
  color: #9C69E2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.title_white {
  color: #fff;
}

.text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconfonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before,
[class^=icon-]::after,
[class*=" icon-"]::after {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\e901";
}

.icon-arrow_right:after {
  content: "\e900";
}

.icon-eye-blocked:before {
  content: "\e9d1";
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  max-width: 800px;
  top: 150px;
  background-color: #9C69E2;
  border-radius: 20px;
  padding: 10px 0;
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.popup__content {
  color: white;
}

.popup form input[type=email],
.popup form input[type=password] {
  border-radius: 20px;
}

.popup_active {
  display: block;
}

.popup-request__content {
  color: #212353;
}

.popup-request__name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-request__form div:not(:last-of-type) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.popup-request__form .email-block__label {
  margin-right: 30px;
}

.popup-request__form .request-form__options-block .options-block__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popup-request__form .show-password {
  background-color: #9C69E2;
}

.popup-request__form .show-password:hover span {
  color: black;
  cursor: pointer;
}

.popup-request__form .show-password:active span {
  color: white;
}

.popup-request__form .show-password span {
  display: block;
  margin-top: 2.5px;
  color: #212353;
}

.popup-request .options-block__show :first-child {
  margin-right: 7px;
}

body {
  color: #4B5D68;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  max-width: 1920px;
}

[class*=__container] {
  max-width: 1117px;
  margin: 0 auto;
}

@media (min-width: 767.98px) {
  .burger {
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@media (max-width: 1147px) {
  .introduction__image {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }

  .features__cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  [class*=__container] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .introduction__image {
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
    width: 100%;
    top: 0;
    left: 0;
  }

  .about-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-us__image {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .about-us__article {
    margin-bottom: 50px;
  }

  .testimonials .swiper-wrapper {
    max-width: 500px;
  }

  .try .try__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .try .try__body .try__text {
    margin-bottom: 20px;
  }

  .try .try__buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .try .try__buttons .try__button {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .try .try__buttons .try__button:first-child {
    margin-right: 0;
  }

  [class*=__container] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .menu-header__list {
    display: none !important;
  }

  .header__logo {
    margin-right: 0 !important;
  }

  .header__button {
    display: none;
  }

  .header__body .header__burger-icon {
    display: block;
    z-index: 100;
  }

  .introduction__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about-us__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about-us__article {
    padding: 0 15px;
  }

  .testimonials .testimonials__body {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .testimonials .testimonials__title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .footer__body .footer__top .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__body .footer__top .footer__links > *:not(:last-child) {
    padding: 0 20px 0 0;
  }

  .footer__body .footer__top .footer__links > *:last-child {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: flex-end;
  }

  .footer__body .footer__bottom {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 20px;
  }

  .text {
    font-size: 14.4px;
  }

  .introduction__title {
    font-size: 40px;
  }

  .features .card {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-size: cover !important;
  }

  .features .card__body {
    margin: 0 0 0 45px;
  }

  .features .card__body .card__image {
    top: -28%;
    left: 5%;
  }

  .features .features__cards {
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 14.4px;
  }
}

@media (max-width: 613px) {
  .testimonials .swiper-wrapper {
    max-width: 100px;
  }

  .slide__body {
    padding-left: 20px;
  }
}

@media (max-width: 479.98px) {
  .slide__image {
    display: none;
  }

  .slide .slide__body {
    padding-right: 10px;
  }

  .slide .slide__name {
    margin-top: 0;
  }

  .try .try__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .try .try__buttons .try__button {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .try .try__buttons .try__button:first-child {
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .footer__body .footer__bottom > *:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 328px) {
  .testimonials .control .pagination__container {
    padding: 0;
  }
}
@supports (-webkit-appearance:none){
.features .card_search{background:url("../img/bg/bg_green.webp") no-repeat}
.features .card_access{background:url("../img/bg/bg_purple.webp") no-repeat}
.features .card_print{background:url("../img/bg/bg_pink.webp") no-repeat}
.features .card_security{background:url("../img/bg/bg_green.webp") no-repeat}
}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1147px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 620px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 613px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 328px){

@supports (-webkit-appearance:none){

}

}
