.try {

    
    &__body {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $lightPurple;
        padding-top: 100px;
        margin-top: 150px;

        .try__title {
            margin-bottom: 20px;
            font-weight: bold;
        }
    }

    

    &__buttons {
        display: flex;
        align-items: center;

        .try__button {
            min-width: 170px;

            &:first-child {
                margin-right: 30px;
            }
        }
    }

    @media (max-width: $md2) {
        .try__body {
            flex-direction: column;
            text-align: center;

            .try__text {
                margin-bottom: 20px;
            }
        }

        .try__buttons {
            justify-content: space-around;
            .try__button {
                transform: scale(0.8);
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: $md4) {

        .try__buttons {
            flex-direction: column;
            align-items: center;

            .try__button {
                transform: scale(0.8);
                &:first-child {
                    margin-right: 0;
                }
            }
        }

        
    }
}