
.button {
    // display:block
    font-family: Avenir;
    font-weight: 800;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 60px;

    &__text {
        align-self: center;
    }

    border-radius: 50px;
    color: #fff;
    max-width: 170px;
}

.button_purple {
    @include button-bg($purple);
}

.button_pink {
    @include button-bg($pink);
}

.button_arrow {
    $transitionTime: 0.3s;

    color: $darkBlue;
    max-width: 210px;
    width: 210px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    transition: $transitionTime;

    &:hover {
        background-color: $pink;
        .icon-arrow_right {
            color: $darkBlue;
        }
    }
    
    .button__text {
        &::after {
            content: "";
            
        }
    }

    .icon-arrow_right {
        position: relative;
        right: -5px;
        top: 2px;
        color: $purple;
        transition: $transitionTime;
    }
    
}

.title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: $darkBlue;
}

.title_white {
    color: #fff;
}

$titleFontSize: 40px;
$textFontSize: 18px;

.text {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;  
}

@media (max-width: 620px) {
    .title {
        font-size: $titleFontSize * 0.5;
    }

    .text {
        font-size: $textFontSize * 0.8;
    }
}